{% extends 'base.html' %}

{% block header %}
<div class="p-3 mt-3 mb-3">
    {% comment %} もしアクセスしているページのURLにnewが入っていたら {% endcomment %}
    {% if 'new' in request.path %}
    <h1>ログの追加</h1>
    {% elif 'edit' in request.path %}
    <h1>ログの編集</h1>
    {% endif %}
</div>

{% endblock header %}
{% block content %}
    {% comment %} フォームの作成 {% endcomment %}
    <form action="" method='POST'>
        {% csrf_token %} 
        <table class="table">
            {% comment %} djangoの機能で入力項目を作る {% endcomment %}
            {{ form.as_table }}
        </table>
        <div class="d-grid gap-2 col-6 mx-left">
            {% comment %} 送信ボタン {% endcomment %}
            <input class="btn btn-success" type="submit" value='送信'>
        </div>
    </form>

{% endblock content %}